* {
    -fx-main-color: #3E505B;
    -fx-secondary-color: #26413C;
    -fx-light-color: #8AB0AB;
}

.h1 {
    -fx-font-size: 40px;
    -fx-font-family: "Raleway Bold";
}

.h2 {
    -fx-font-family: "Raleway Bold";
    -fx-font-size: 35px;
}

.h3 {
    -fx-font-size: 30px;
    -fx-text-background-color: #333333;
    -fx-font-family: 'Raleway Medium', sans-serif;
}

.button {
    -fx-background-color: white;
    -fx-font-family: 'Raleway Medium', sans-serif;
}

.button:hover {
    -fx-background-color: #bbbbbb;
    -fx-font-size: 1.1em;
}

.button:pressed {
    -fx-background-color: #888888;
}

.btn-lg {
    -fx-font-size: 1.5em;
}

.btn-lg:hover {
    -fx-font-size: 1.7em;
}

.text-field {
    -fx-background-color: white;
    -fx-font-family: 'Raleway Medium', sans-serif;
}

.choice-box {
    -fx-background-color: white;
    -fx-font-family: 'Raleway Medium', sans-serif;
}